@import url(https://fonts.googleapis.com/css?family=Barlow:300,regular,600,700,800,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Staatliches:regular);

@charset "UTF-8";

@font-face {
  font-family: SFProDisplay;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SFProDisplay;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: SFProDisplay;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: SFProDisplay;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #2F3035;
  line-height: 1.2;
  font-family: "SFProDisplay";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "SFProDisplay";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:checked + .checkbox__label:before {
  background: #1C62CD;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 10px;
}

.checkbox__label:before {
  content: "";
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #a7a9ac;
}

.checkbox__text {
  position: relative;
}

.checkbox__text:before {
  content: "";
  position: absolute;
  display: block;
  background-image: url(../img/catalog/icons/check.svg);
  background-repeat: no-repeat;
  background-size: center center;
  width: 1.125rem;
  height: 1.125rem;
  z-index: 5;
  left: -1.5rem;
  top: 0.3125rem;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__item:not(:last-child) {
  margin-bottom: 0.3125em;
}

.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  border-radius: 0.3125rem;
}

.options__input:focus + .options__label:before {
  -webkit-box-shadow: 0 0 0.3125rem #1C62CD;
          box-shadow: 0 0 0.3125rem #1C62CD;
}

.options__input:checked + .options__label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__input:checked + .options__label:before {
  border-radius: 0.3125rem;
  background: #1C62CD;
}

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  gap: 10px;
}

.options__label:before {
  content: "";
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0.3125rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  border: 1px solid #a7a9ac;
}

.select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
  color: #CDCDCD;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #1C62CD;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* Wrapper for all connect elements.
 */

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat;
}

/* Offset direction
 */

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */

.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */

.noUi-horizontal {
  height: 0.25rem;
  background-color: #1C62CD;
}

.noUi-horizontal .noUi-handle {
  width: 0.5rem;
  height: 0.5rem;
  right: 0rem;
  top: -0.125rem;
  background-color: #1C62CD;
  border-radius: 50%;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */

.noUi-target {
  background: #E0E0E0;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background-color: #1C62CD;
}

/* Handles and cursors;
 */

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #000;
  border-radius: 0.1875rem;
  background-color: #fff;
}

.noUi-active {
  -webkit-box-shadow: inset 0 0 1px #21194d, inset 0 1px 7px #21194d, 0 3px 6px -3px #21194d;
          box-shadow: inset 0 0 1px #21194d, inset 0 1px 7px #21194d, 0 3px 6px -3px #21194d;
}

/* Handle stripes;
 */

/* Disabled state;
 */

[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */

.noUi-pips,
.noUi-pips * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */

.noUi-marker {
  position: absolute;
  background: #ccc;
}

.noUi-marker-sub {
  background: #aaa;
}

.noUi-marker-large {
  background: #aaa;
}

/* Horizontal layout;
 *
 */

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

/* Vertical layout;
 *
 */

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  color: #949494;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
      -ms-transform: translate(0, -18px);
          transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.search-tabs__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-tabs__button {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
  background-color: #1C62CD;
  border-radius: 0.1875rem;
  padding: 1.0625rem 2.5625rem;
  border: none;
  margin-left: -0.1875rem;
}

.search-tabs__input {
  background-color: #F0F0F4;
  border: none;
  outline: none;
  padding: 0.9375rem 1.25rem;
  border-radius: 0.1875rem;
  font-size: 1rem;
  line-height: 1.1875;
  width: 100%;
}

.search-tabs__input::-webkit-input-placeholder {
  color: #656464;
}

.search-tabs__input::-moz-placeholder {
  color: #656464;
}

.search-tabs__input:-ms-input-placeholder {
  color: #656464;
}

.search-tabs__input::-ms-input-placeholder {
  color: #656464;
}

.search-tabs__input::placeholder {
  color: #656464;
}

.search-tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5625rem;
}

.search-tabs__title {
  border: 1px solid #eee;
  padding: 0.6875rem 1.625rem 0.75rem;
  border-radius: 0.3125rem;
}

.search-tabs__title._tab-active {
  border-radius: 0.3125rem;
  background-color: #F0F0F4;
}

.products {
  margin-bottom: 5.375rem;
}

.products__title {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.2;
  color: #000;
  font-family: "Barlow", sans-serif;
  margin-bottom: 1.5625rem;
}

.product {
  margin-bottom: 2.8125rem;
}

.product__navigation {
  margin-bottom: 1.5625rem;
}

.product__title {
  font-size: 0.9375rem;
  line-height: 1.2;
  margin-right: 3.125rem;
  padding-bottom: 0.75rem;
}

.product__title._tab-active {
  border-bottom: 2px solid #1C62CD;
}

.product-slider__item {
  border: 0.0625rem solid #CDCDCD;
  border-radius: 0.1875rem;
  position: relative;
  text-align: center;
  padding: 3.25rem 1.25rem 1.9375rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-right: 1.875rem;
}

.product-slider__item:hover {
  -webkit-box-shadow: 0.1875rem 0.1875rem 1.25rem rgba(50, 50, 50, 0.25);
          box-shadow: 0.1875rem 0.1875rem 1.25rem rgba(50, 50, 50, 0.25);
}

.product-slider__item-box {
  height: 22.5rem;
}

.product-slider__slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}

.product-slider__slider-btnprev {
  left: -2.5rem;
}

.product-slider__slider-btnnext {
  right: -2.5rem;
}

.product-item__sale::before {
  content: "sale";
  padding: 0.5rem 0.9375rem;
  background-color: #1C62CD;
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1.1666666667;
  letter-spacing: 0.07em;
}

.product-item:hover .product-item__hover {
  opacity: 0.9;
  color: #000;
}

.product-item:hover .product-item__title,
.product-item:hover .product-item__price {
  color: #1C62CD;
}

.product-item__hover {
  padding: 1.125rem 1.3125rem;
  background-color: #fff;
  color: #000;
  opacity: 0;
  -webkit-box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.2);
  border-radius: 0.1875rem;
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.product-item__favorite {
  position: absolute;
  top: 1.1875rem;
  right: 1.1875rem;
  fill: #000;
}

.product-item__favorite:hover {
  fill: #1C62CD;
}

.product-item__img {
  margin-bottom: 0.875rem;
  height: 12.5rem;
  width: 100%;
}

.product-item__title {
  padding: 0.875rem 1.5625rem;
  font-size: 1.125rem;
  line-height: 1.1666666667;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 1.5625rem;
}

.product-item__price {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.product-item__basket {
  position: absolute;
  background-color: #1C62CD;
  width: 3.75rem;
  height: 2.5rem;
  bottom: 0;
  right: 0;
  padding: 0.625rem 1rem 0.46875rem 0.875rem;
  border-radius: 0.625rem 0 0 0;
  fill: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 5;
}

.product-item__basket:hover {
  fill: #656464;
}

.product-item__notify {
  display: none;
}

.product-item__more {
  text-align: center;
}

.product-item__more-link {
  line-height: 1.2;
  font-size: 0.9375rem;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  padding: 1rem 2.6875rem;
  background-color: #F0F0F4;
}

.product-slider__item.product-item__not-available .product-item__price {
  display: none;
}

.product-slider__item.product-item__not-available .product-item__notify {
  display: block;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1666666667;
}

.product-slider__item.product-item__not-available .product-item__basket {
  display: none;
}

.product-slider__item.product-item__not-available .product-item__notify-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: #1C62CD;
  display: inline-block;
  border-bottom: 0.0625rem solid #1C62CD;
  padding-top: 1.0625rem;
}

.product__item-box {
  border: 0.0625rem solid #CDCDCD;
  border-radius: 0.1875rem;
  position: relative;
  text-align: center;
  padding: 3.25rem 0.625rem 1.9375rem 0.625rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-right: 1.875rem;
  height: 100%;
  width: 17.0625rem;
}

.product__item-box:hover {
  -webkit-box-shadow: 0.1875rem 0.1875rem 1.25rem rgba(50, 50, 50, 0.25);
          box-shadow: 0.1875rem 0.1875rem 1.25rem rgba(50, 50, 50, 0.25);
}

.product__item-box__image {
  margin-bottom: 1.5rem;
}

.product__item-box-title {
  margin-bottom: 1.5625rem;
  padding: 0rem 1.3125rem;
}

.product__item-box-price {
  display: inline-block;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 7.625rem;
  font-weight: 700;
  padding: 0 1.25rem;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__adress {
  margin-right: 3.75rem;
  width: 16.5625rem;
  padding-left: 2.1875rem;
  position: relative;
}

.header__adress::before {
  content: "";
  position: absolute;
  background-image: url(../img/header/map.svg);
  width: 1.875rem;
  height: 1.875rem;
  left: 0;
  top: 0.3125rem;
}

.header__bottom {
  margin-bottom: 5rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  padding-left: 3.125rem;
}

.menu__item:first-child {
  padding-left: 0;
}

.user-list {
  margin-right: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-list__item {
  padding-right: 0.625rem;
}

.menu-categories {
  background-color: #F0F0F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 3.3125rem;
  padding: 0 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-categories__link {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0.9375rem 0 0.875rem;
  position: relative;
  display: inline-block;
}

.menu-categories__link::before {
  content: "";
  width: 0;
  left: auto;
  right: 0;
  position: absolute;
  background-color: #1C62CD;
  height: 0.1875rem;
  bottom: 0rem;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu-categories__link:hover {
  color: #000;
}

.menu-categories__link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.basket {
  position: relative;
}

.basket__num {
  position: absolute;
  line-height: 2;
  font-size: 0.625rem;
  font-weight: 500;
  width: 1.25rem;
  height: 1.25rem;
  color: #fff;
  background-color: #1C62CD;
  border-radius: 50%;
  text-align: center;
  bottom: -0.5rem;
  right: -0.9375rem;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background-color: #F0F0F4;
}

.footer__top {
  padding-top: 2.6875rem;
}

.footer__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__top-item {
  width: 9.375rem;
  margin-right: 6.25rem;
}

.footer__top-title {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #000;
}

.footer__top-title:first-child {
  width: 13.875rem;
}

.footer__top-newslatter {
  width: 18.4375rem;
  margin-right: 10rem;
}

.footer__top-form {
  margin-top: 2.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social {
  width: 15.625rem;
}

.footer__top-input {
  display: inline-block;
  width: 12.5625rem;
  height: 2.0625rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  padding: 0.5rem 0.75rem;
}

.footer__top-button {
  display: inline-block;
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 1.1818181818;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  background-color: #1C62CD;
  color: #fff;
  padding: 0.625rem 1rem;
}

.footer__bottom {
  padding: 2.875rem 0 1.375rem 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__bottom-link {
  display: inline-block;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.1666666667;
  color: #000;
  margin: 0 2.5rem;
}

.footer-list__item {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15.625rem;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list__item {
  margin: 0 0.9375rem;
  width: 12.5rem;
}

.social-list-link {
  font-size: 14px;
  line-height: 17px;
}

.page__section {
  margin-bottom: 5rem;
}

.banner-section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-section__slider {
  max-width: 54.375rem;
}

.banner-section__slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}

.banner-section__slider-btnprev {
  left: 1.25rem;
}

.banner-section__slider-btnnext {
  right: 1.25rem;
}

.banner-section__slider-img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 25rem;
}

.slick-slide img {
  display: inline-block;
}

.slick-active button li {
  background-color: #fff;
}

.slick-dots {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  right: 0;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  padding: 0 0.3125rem;
}

.slick-dots button {
  font-size: 0rem;
  width: 0.6875rem;
  height: 0.6875rem;
  border: 1px solid #fff;
  border-radius: 50%;
}

.sale-item {
  max-width: 16.5625rem;
  text-align: center;
  border: 1px solid #CDCDCD;
  border-radius: 0.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sale-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sale-item__info {
  color: #fff;
  background-color: #1C62CD;
  padding: 0.5rem 1.25rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.25;
  letter-spacing: 0.1em;
}

.sale-item__price {
  text-align: right;
}

.sale-item__price-new {
  font-weight: 700;
  font-size: 1.6875rem;
  color: #1C62CD;
  line-height: 1.1851851852;
  margin-right: 0.375rem;
  padding-right: 1.25rem;
  position: relative;
}

.sale-item__price-new::after {
  content: "";
  background-image: url(../img/icons/rub.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 0.9375rem;
  height: 1.125rem;
}

.sale-item__price-old {
  font-weight: 400;
  color: #C4C4C4;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  margin-right: 0.9375rem;
  position: relative;
  background-image: url(../img/icons/old-line.svg);
  background-repeat: no-repeat;
  padding: 0.125rem 0.3125rem;
  display: inline-block;
}

.sale-item__price-old::after {
  content: "";
  background-image: url(../img/icons/rub-old.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: -0.625rem;
  top: 0.3125rem;
  width: 0.5rem;
  height: 6.875rem;
}

.sale-item__img {
  -o-object-fit: contain;
     object-fit: contain;
}

.sale-item__title {
  font-size: 1.125rem;
  line-height: 1.1666666667;
  font-weight: 700;
  margin-bottom: 0.4375rem;
}

.sale-item__footer {
  background-color: #F0F0F4;
  padding: 1.5625rem 1.25rem;
  font-size: 1.125rem;
  line-height: 1.1666666667;
}

.sale-item__footer span {
  font-family: "Barlow", sans-serif;
  color: #1C62CD;
  display: block;
  font-weight: 700;
}

.price {
  font-family: "Barlow", sans-serif;
}

.categories__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories__item {
  margin-bottom: 1.875rem;
  border: 0.0625rem solid #CDCDCD;
  border-radius: 0.1875rem;
  width: 23.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.25rem 1.25rem 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.categories__item:hover {
  -webkit-box-shadow: 0.1875rem 0.1875rem 1.25rem rgba(50, 50, 50, 0.25);
          box-shadow: 0.1875rem 0.1875rem 1.25rem rgba(50, 50, 50, 0.25);
}

.categories__item:hover .categories__item-title {
  color: #1C62CD;
}

.categories__item-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories__item-title {
  font-weight: 700;
  font-size: 23px;
  line-height: 1.2173913043;
  color: #000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.categories__item-text {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #C4C4C4;
}

.categories__item-text::after {
  content: url("../img/icons/arrow-right__grey.svg");
  padding-left: 0.125rem;
}

.categories__item-img {
  text-align: center;
  width: 50%;
}

.categories__item-img img {
  max-width: 100%;
}

.banner {
  margin-bottom: 4.5rem;
}

.breadcrumbs {
  margin-bottom: 2.5rem;
}

.breadcrumbs__list-item {
  display: inline-block;
  padding-right: 1rem;
  margin-right: 0.625rem;
  position: relative;
  color: #C4C4C4;
  font-size: 0.9375rem;
  line-height: 1.2;
}

.breadcrumbs__list-item::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0.375rem;
  background-image: url("../img/icons/arrow-right__grey.svg");
  width: 0.375rem;
  height: 0.5625rem;
}

.breadcrumbs__list-item:last-child:after {
  display: none;
}

.catalog {
  margin-bottom: 6.25rem;
}

.catalog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.2;
  margin-bottom: 1.625rem;
  color: #000;
}

.catalog__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.125rem;
}

.catalog__box-button {
  margin-right: 0.625rem;
  background-color: #F0F0F4;
  padding: 0.25rem 1.375rem;
}

.catalog__box-items {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #000;
  opacity: 0.7;
}

.catalog__box-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__box-select {
  margin-right: 2.125rem;
  border: 0.0625rem solid #CDCDCD;
  padding: 0.5rem 1.25rem;
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.catalog__box-select:not([multiple]) {
  padding-right: 2.5rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.9375rem) 0.9375rem;
  background-size: 0.85em auto;
  background-image: url(../../../img/catalog/icons/arrow-bottom.svg);
}

.catalog__box-select::-ms-expand {
  display: none;
}

.catalog__box-btngrid {
  margin-right: 0.625rem;
}

.catalog__inner-aside {
  min-width: 18.125rem;
  margin-right: 0.625rem;
}

.catalog__inner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pagination {
  width: 100%;
  margin-top: 4.375rem;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-list__item {
  list-style: none;
  padding: 0.5rem 0.9375rem;
  border: 0.125rem solid transparent;
  color: #CDCDCD;
  margin: 0 0.25rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.2222222222;
}

.pagination-list__item._active {
  border: 0.125rem solid #1C62CD;
  color: #1C62CD;
}

.pagination-list__item a {
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.pagination-list__item a:hover {
  color: blue;
}

.product__item {
  margin-bottom: 1.875rem;
}

.product__item-box-title {
  padding: 0;
}

.aside-filter__title {
  margin-right: 2.625rem;
  margin-bottom: 3rem;
  color: #CDCDCD;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.aside-filter__title:last-child {
  margin-right: 0rem;
}

.aside-filter__title._tab-active {
  color: #000;
  font-weight: 700;
  padding-bottom: 0.4375rem;
  border-bottom: 0.125rem solid blue;
}

.price-filter {
  margin-bottom: 2.625rem;
}

.price-filter__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875;
}

.price-filter__title::after {
  content: "";
  color: #1C62CD;
  font-size: 0.5rem;
  background-image: url(../img/catalog/icons/arrow.svg);
  width: 0.75rem;
  height: 0.5rem;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  margin-right: 0.875rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.price-filter__title._spoller-active::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.price-filter__body {
  padding: 2.5rem 0 0 0;
}

.price-filter__inputs {
  padding: 0rem 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-filter__inputs:not(:last-child) {
  margin-bottom: 1.25rem;
}

.price-filter__text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #CDCDCD;
  padding: 0;
  margin: 0;
}

.price-filter__input {
  max-width: 5.3125rem;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.price-filter__range {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 1.125;
  color: #656464;
}

.filter-catalog__option {
  text-align: center;
}

.filter-catalog__option:hover {
  background-color: #CDCDCD;
}

.filter-catalog__item {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  margin-bottom: 2.5rem;
}

.filter-catalog__select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.125rem solid #CDCDCD;
  margin-bottom: 1.625rem;
}

.filter-catalog__textsel {
  margin-left: 0.9375rem;
  padding-bottom: 0.375rem;
}

.item-filter-catalog__body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.25rem;
}

.item-filter-catalog__body-input {
  padding: 0.5rem 0rem 0.5rem 1.25rem;
  width: 100%;
  margin-bottom: 1.25rem;
}

.item-filter-catalog__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}

.checkbox-link {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  border-bottom: 0.0625rem solid #1C62CD;
  color: #1C62CD;
}

.check__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 0.9375rem;
  margin-bottom: 1.25rem;
}

.filter-select__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-select__button {
  background-color: #F0F0F4;
  padding: 1rem 5.3125rem;
  margin-bottom: 1.875rem;
  color: #BDBEC2;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.2;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.filter-select__button-active {
  background-color: #1C62CD;
  color: #fff;
}

.filter-select__parameters {
  margin-bottom: 0.9375rem;
}

.filter-reset__button {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.2307692308;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #CDCDCD;
}

.filter-reset__button:hover,
.filter-reset__button:active {
  color: #000;
}

.price-filter__select-title {
  padding: 0;
  margin: 0;
}

.price-filter__select-title::after {
  display: none;
}

.price-filter__select-title::before {
  content: "";
  color: #1C62CD;
  font-size: 0.5rem;
  background-image: url(../img/catalog/icons/arrow.svg);
  width: 0.75rem;
  height: 0.5rem;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  margin-left: 0.875rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.price-filter__select-title._spoller-active::before {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.product__item.product-item__not-available .product-item__price {
  display: none;
}

.product__item.product-item__not-available .product-item__notify {
  display: block;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1666666667;
}

.product__item.product-item__not-available .product-item__basket {
  display: none;
}

.product__item.product-item__not-available .product-item__notify-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: #1C62CD;
  display: inline-block;
  border-bottom: 0.0625rem solid #1C62CD;
  padding-top: 1.0625rem;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: inblock;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.product__box-item {
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-page__box {
  text-align: center;
}

.product-page__img {
  margin-bottom: 1.0625rem;
  width: 100%;
}

.product-page__link {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.2;
  color: #1C62CD;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.sale-item__top-product {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sale-item__info-product {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.2;
  padding: 0.8125rem 1.5rem;
  margin-bottom: 2rem;
}

.sale-item__price-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale-item__price-new-product {
  display: inline-block;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1.2;
  color: #000;
  padding: 0;
  margin: 0;
}

.sale-item__price-new-product::after {
  display: none;
}

.sale-item__price-old-product {
  display: inline-block;
  font-size: 1.875rem;
  line-height: 1.2;
  font-weight: 400;
  color: #C4C4C4;
  position: relative;
  color: #000;
  opacity: 0.6;
  padding: 0rem;
  margin: 0;
  display: inline-block;
}

.sale-item__price-old-product::after {
  display: none;
}

.sale-item__price-old-product::before {
  content: "";
  background-image: url(../img/product/old-price.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0.625rem;
  left: 0;
}

.description__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.2;
  color: #000;
  max-width: 35.625rem;
  margin-bottom: 0.625rem;
}

.description__code {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.2;
  color: #000;
  opacity: 0.6;
  margin-bottom: 1.25rem;
}

.description__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.125rem;
}

.decription__link {
  margin-right: 1.5625rem;
}

.description-product {
  max-width: 27.25rem;
}

.description-product__title {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  margin-right: 2.125rem;
  border-bottom: 0.125rem solid #fff;
  margin-bottom: 1.5625rem;
}

.description-product__title:last-child {
  margin-right: 0rem;
}

.description-product__title._tab-active {
  font-weight: 700;
  border-bottom: 0.125rem solid #1C62CD;
}

.description-product__body {
  margin-bottom: 1.5625rem;
}

.description-product__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
  margin-bottom: 0.5625rem;
  color: #000;
  border-bottom: 0.125rem solid rgb(231, 231, 231);
}

.description-product__info-text {
  padding-bottom: 0.375rem;
  display: inline-block;
  width: 17.5625rem;
}

.description-link__more {
  font-size: 14px;
  line-height: 17px;
  border-bottom: 0.0625rem solid #1C62CD;
  color: #1C62CD;
  display: inline-block;
  margin-bottom: 2.8125rem;
}

.description-link__buy {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  letter-spacing: 0.12em;
  background-color: #1C62CD;
  padding: 1rem 3.3125rem;
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}